/*I created a css style sheet*/
.profile{
  float: right;
  max-height: 500px;
  margin-right:200;
  padding: 50px;
}
.Waterside{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
body{
  background-color: rgb(209, 195, 195);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:purple;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/*Change link color on hover*/

li a:hover{
  background-color: #d50aa9
}
/*Different section colors*/
.Title{
  background-color: #322b35;
  color:whitesmoke;
}
.First{
  background-color:purple;
  color:whitesmoke;
}
.Second{
  background-color: #9a62b3;
  color:whitesmoke;
}
section  {
  margin: 20px;
  padding: 20px;
  Border: 30px;
}
.FirstI{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.SecondI{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  color:#d50aa9
}
body{
  font-family:Arial, Helvetica, sans-serif
}