/*I created a css style sheet*/
.profile{
  float: right;
  max-height: 500px;
  margin-right:200;
  padding: 50px;
}
.Waterside{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
body{
  background-color: rgb(209, 195, 195);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:purple;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/*Change link color on hover*/

li a:hover{
  background-color: #d50aa9
}
/*Different section colors*/
.Title{
  background-color: #322b35;
  color:whitesmoke;
}
.First{
  background-color:purple;
  color:whitesmoke;
}
.Second{
  background-color: #9a62b3;
  color:whitesmoke;
}
section  {
  margin: 20px;
  padding: 20px;
  Border: 30px;
}
.FirstI{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.SecondI{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  color:#d50aa9
}
body{
  font-family:Arial, Helvetica, sans-serif
}

.hi_green{
  padding: 5px;
  width: 300px;
  position: absolute;
  z-index: -20px;
}
.hi_blue{
  padding: 150px;
  width: 400px;
  position:absolute;
  z-index: 1;
}
.container{
  margin-bottom: px;
}
.Grid-container{
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main right right'
  'menu footer footer footer footer footer';
  gap: 5px;
  background-color:rgb(37, 52, 182);
  padding: 10px;
  left: 0px;
  top: 0px;
}

.Grid-container > div {
background-color: #10c7df;
text-align: center;
padding: 15px;
font-size: 30px;
font-family: Copperplate, bold;
color:white

}
.Hi { grid-area: header; }
.Nice { grid-area: menu; }
.To { grid-area: main; }
.Meet { grid-area: right; }
.You{ grid-area: footer; }
@media(max-width:1050px){
  h1{
    color:#d50aa9
  }
}
@media (max-width:768px){
  h1{
    color:#eb1da6
  }
}
@media (max-width:320px){
  h1{
    color:#150010
  }
}